<div class="panel panel-default">
    <div class="panel-heading">
        <h1>List of questions</h1>
    </div>
    <div class="panel-body">
        <div *ngFor='let level of levels' class="panel panel-default">
            <div class="panel-heading">Level {{level.index}} questions</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li *ngFor='let question of level.questions' class="question list-group-item list-group-item-action" >
                        <span class="question-title">{{ question.title }}</span>
                        <a [routerLink]="['/questions/edit', question.$key]" class="btn btn-success button">Edit</a>
                        <button (click)="removeQuestion($event)" type="button" attr.data-key="{{ question.$key }}" class="btn btn-danger button">Remove</button>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <a [routerLink]="['/questions/add']" class="btn btn-primary btn-lg btn-block">Add a question</a>
        </div>
    </div>
</div>