<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Define your question</h1>
    </div>
    <div class="panel-body">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Formulate your question</label>
                <input type="text" class="form-control" id="title"
                    required [(ngModel)]="model.title" name="title"
               #title="ngModel" >
            </div>
            <div class="form-group">
                <label for="level">Level of difficulty</label>
                <select class="form-control"  id="level" [(ngModel)]="model.level" name="level"
               #level="ngModel">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="form-group">
                <h3>Define the answers</h3>
                <label for="answer-correct">Correct answer</label>
                <input type="text" class="form-control" id="answer-correct" [(ngModel)]="model.answers.correct.text" name="answers.correct">
                <label for="answer-incorrect1">Incorrect answer</label>
                <input type="text" class="form-control" id="answer-incorrect1" [(ngModel)]="model.answers.incorrect1.text" name="answers.incorrect1">
                <label for="answer-incorrect2">Incorrect answer</label>
                <input type="text" class="form-control" id="answer-incorrect2" [(ngModel)]="model.answers.incorrect2.text" name="answers.incorrect2">
                <label for="answer-incorrect3">Incorrect answer</label>
                <input type="text" class="form-control" id="answer-incorrect3" [(ngModel)]="model.answers.incorrect3.text" name="answers.incorrect3">
            </div>
            <div class="form-group">
                <label for="explanation">Explain a little bit the answer</label>
                <textarea rows="4" class="form-control" id="explanation" [(ngModel)]="model.explanation" name="explanation"
               #explanation="ngModel"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>