<h1>Start Game</h1>
<div>
  <form [formGroup]="startGameForm" (ngSubmit)="startGame()">
    <div class="form-group">
      <label>{{ role }} Name</label>
      <input type="text" formControlName="name" class="form-control" [(ngModel)]="person.name">
      <div *ngIf="startGameForm.controls.name.touched && !startGameForm.controls.name.valid" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label>{{ role }} Email</label>
      <input type="text" formControlName="email" class="form-control" [(ngModel)]="person.email">
      <div *ngIf="startGameForm.controls.email.touched && !startGameForm.controls.email.valid" class="alert alert-danger">
        Email is required
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!startGameForm.valid">Start Game</button>
  </form>
</div>