.dashboard-first-row {
  display: flex;
  justify-content: space-between; }

.dashboard-column {
  flex-basis: 30%; }

.dashboard-middle-column {
  flex-basis: 40%;
  display: flex;
  flex-direction: column; }
  .dashboard-middle-column .link {
    flex-grow: 2; }
  .dashboard-middle-column .dashboard-column-down {
    align-self: center;
    flex-grow: 1; }
    .dashboard-middle-column .dashboard-column-down h4 {
      text-align: center; }

.audienceLink {
  width: 100%; }

.question {
  display: flex; }

.question-title {
  align-self: center;
  flex-grow: 1; }

.moderator-picked-question button {
  pointer-events: none; }
  .moderator-picked-question button.correct {
    background-color: lime; }

.user-answer {
  width: 10px;
  height: 10px;
  float: right; }
