<div>
    <div class="row" class="dashboard-first-row">
        <div class="panel panel-default dashboard-column">
            <div *ngFor='let level of questionsList' class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{level.index}}">
                            <span class="glyphicon glyphicon-folder-close"></span> Level {{level.index}} questions
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{level.index}}" class="panel-collapse collapse " [class.in]="game.currentLevel == level.index">
                    <ul class="list-group">
                        <li *ngFor='let question of level.questions' class="question list-group-item list-group-item-action">
                            <span class="question-title">{{ question.title }}</span>
                            <button *ngIf="game.currentLevel == level.index" (click)="pickQuestion($event)" type="button" attr.data-key="{{ question.$key }}" class="btn btn-info button">Send</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default dashboard-middle-column">
            <div class="panel-body link">
                <label for="gameId">Copy and share this links let people join the game</label>
                <input type="text" name="gameId" class="audienceLink" value="{{audienceLink}}" readonly />
            </div>
            <div class="panel-body dashboard-column-down">
                <h4>Explanation</h4>
                <p>{{explanation}}</p>
            </div>
        </div>
        <div class="panel panel-default dashboard-column">
            <div class="panel-heading panel-heading-sm">
                <h4 class="panel-title">Audience</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li *ngFor='let user of usersList' class="list-group-item list-group-item-action">
                        <span>{{ user.name }} - {{ user.email }}</span><span *ngIf="user.answer" class="user-answer">{{ user.answer.index }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body moderator-picked-question">
            <app-challenge-question></app-challenge-question>
        </div>
    </div>
</div>