.dashboard-first-row {
    display: flex;
    justify-content: space-between;
}

.dashboard-column {
    flex-basis: 30%;
}

.dashboard-middle-column {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;

    .link {
        flex-grow: 2;
    }
    .dashboard-column-down {
        align-self: center;
        flex-grow: 1;

        h4 {
            text-align: center;
        }
    }
}


.audienceLink {
    width: 100%;
}

.question {
    display: flex;
}

.question-title {
    align-self: center;
    flex-grow: 1;
}

.moderator-picked-question {
    button {
        pointer-events: none;

        &.correct {
            background-color: rgb(0,255,0)	
        }
    }
}

.user-answer {
    width: 10px;
    height: 10px;
    float: right;
}