<div *ngIf="challengeQuestion && challengeQuestion.title">
  <h1>Question</h1>
  <h2>{{challengeQuestion.title}}</h2>
  <div class="panel panel-default options-panel">
    <button type="button" attr.data-key="{{ answers[0].answer.index }}" (click)="selectAnswer($event)" class="btn btn-primary options" [class.correct]="answers[0].isCorrect">{{ answers[0].answer.index }}: {{answers[0].answer.text}}</button>
    <button type="button" attr.data-key="{{ answers[1].answer.index }}" (click)="selectAnswer($event)" class="btn btn-primary options" [class.correct]="answers[1].isCorrect">{{ answers[1].answer.index }}: {{answers[1].answer.text}}</button>
    <button type="button" attr.data-key="{{ answers[2].answer.index }}" (click)="selectAnswer($event)" class="btn btn-primary options" [class.correct]="answers[2].isCorrect">{{ answers[2].answer.index }}: {{answers[2].answer.text}}</button>
    <button type="button"  attr.data-key="{{ answers[3].answer.index }}" (click)="selectAnswer($event)" class="btn btn-primary options" [class.correct]="answers[3].isCorrect">{{ answers[3].answer.index }}: {{answers[3].answer.text}}</button>
  </div>
</div>
