.options-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 250px; }

.options {
  flex-basis: 40%;
  min-width: 250px;
  height: 50px; }
